* {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
}
#wrapper {
  color: #FFFFFF;
  max-height: 1536px;
  margin: 0px auto;
  width: 1920px;
}
#wrapper header {
  align-items: center;
  background-color: #1E1F25;
  display: flex;
  height: 62px;
  justify-content: space-between;
}
#wrapper header h1 {
  color: #FFFFFF;
  display: flex;
  font: 300 21px "Roboto";
}
#wrapper header h1::before {
  content: "";
  background: url("../images/the_wall_sprite.png") no-repeat -182px -9px;
  height: 28px;
  margin: 0px 9px 0px 25px;
  width: 28px;
}
#wrapper header #user_profile_container {
  display: flex;
  font: 300 14px "Roboto";
}
#wrapper header #user_profile_container #user {
  display: flex;
  padding: 23px 26px 23px 0px;
  border-right: 2px solid #3A3C46;
}
#wrapper header #user_profile_container #logout {
  align-items: center;
  color: #FFFFFF;
  display: flex;
  margin: 0px 26px;
  text-decoration: none;
}
#wrapper header #user_profile_container #logout::before {
  content: "";
  background: url("../images/the_wall_sprite.png") no-repeat -255px -16px;
  align-items: center;
  height: 13px;
  margin-right: 10px;
  width: 13px;
}
#wrapper #main_container {
  background-color: #2C2D34;
  display: flex;
  padding: 50px 471px;
  flex-direction: column;
}
#wrapper #main_container #welcome_profile_container #username {
  font-size: 21px;
}
#wrapper #main_container #welcome_profile_container #welcome_message {
  margin-bottom: 56px;
}
#wrapper #main_container #post_form {
  background-color: #3A3C46;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 57px;
  padding: 15px 20px;
  width: 978px;
}
#wrapper #main_container #post_form #post_textarea {
  background-color: #3A3C46;
  border: none;
  color: #FFFFFF;
  display: flex;
  font-size: 17.51px;
  outline: none;
  resize: none;
  width: 860px;
}
#wrapper #main_container #post_form #post_button {
  background-color: #00A3FF;
  border-radius: 8.86px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  height: 38px;
  margin: 6px 0px;
  padding: 5px;
  width: 100px;
}
#wrapper #main_container h4 {
  font-weight: 400;
}
#wrapper #main_container #post_forum_container {
  margin-top: 55px;
  width: 978px;
  border-radius: 9px;
  background-color: #3A3C46;
  display: flex;
  flex-direction: column;
}
#wrapper #main_container #post_forum_container #post_forum_list li {
  list-style: none;
}
#wrapper #main_container #post_forum_container #post_forum_list li .post_details_container {
  display: flex;
  flex-direction: row;
}
#wrapper #main_container #post_forum_container #post_forum_list li .action_button_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
#wrapper #main_container #post_forum_container #post_forum_list li .comment_form {
  width: 902px;
}
#wrapper #main_container #post_forum_container #post_forum_list #no_post_yet {
  background-color: #2C2D34;
  margin-top: 55px;
  padding: 38px 0px;
  width: 978px;
  border: 1px dashed #6D6E75;
  border-radius: 9px;
  display: none;
}
#wrapper #main_container #post_forum_container #post_forum_list #no_post_yet p {
  text-align: center;
}
#wrapper #main_container .comment_form {
  align-items: center;
  background-color: #3A3C46;
  display: flex;
  text-align: right;
}
#wrapper #cloned_template_container {
  display: none;
}
#wrapper #cloned_template_container .comment_textarea {
  background-color: #3A3C46;
  border: none;
  display: flex;
  height: 50px;
  padding: 15px 20px;
  resize: none;
  width: 90%;
}
#wrapper #cloned_template_container .comment_button {
  background-color: #00A3FF;
  cursor: pointer;
  padding: 5px;
}
